# Server
PORT=4000

# Supabase
SUPABASE_URL=https://ejelvsohvbkohnocwife.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVqZWx2c29odmJrb2hub2N3aWZlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTMwNjcyMjgsImV4cCI6MjA2ODY0MzIyOH0.j-UiKP7I8ddFCI0termpHxcDVqRrkLwuYdWkNpwWX-o


SUPABASE_JWT_SECRET=your_supabase_jwt_secret

# App secrets
JWT_SECRET=your_app_jwt_secret
# 32-byte hex key for AES-256 encryption
ENCRYPTION_KEY=00000000000000000000000000000000
# 16-byte hex IV for AES-256
ENCRYPTION_IV=0000000000000000 

SUPABASE_SERVICE_KEY=your_service_role_key 